@font-face{
    font-family: bayland;
    src: url(fonts/Bayland\ Regular.ttf);
}
@font-face{
    font-family: baylande;
    src: url(fonts/Bayland\ Extrude.ttf);
}
#Chihuahua{
    border:2px solid rgb(225, 223, 223);
    transition: 0.1s ease-in;
}
#Chihuahua:hover{
    border:2px solid #0d6efd;
    transition: 0.1s ease-out;
}
#Labrador
{
    border:2px solid rgb(225, 223, 223);
    transition: 0.1s ease-in;
}

#Labrador:hover{
    border:2px solid black;
    transition: 0.1s ease-out;
}
#mastiff{
    border:2px solid rgb(225, 223, 223);
}
#mastiff:hover{
    border:2px solid #dc3545;
}
#heading-id{
    position: relative;
    font-family: 'tilt warp';
    font-weight: bold;
    color: #dc3545;
}
#firstone{
    color: white;
    background-color: rgb(255, 196, 0);
    transition: 0.2s ease-in;
}
#firstone:hover{
    /* border: 2px solid rgb(255, 196, 0);
    background-color: white;
    color: rgb(255, 196, 0); */
    scale: 1.05;
    transition: 0.2s ease-out;
    box-shadow: 0px 12px 2px 3px gray;
}
#secondone{
    color: black;
    transition: 0.2s ease-in;
}
#secondone:hover{
    /* border: 2px solid black;
    background-color: black; */
    /* color: white; */
    scale: 1.05;
    transition: 0.2s ease-out;
    box-shadow: 0px 12px 2px 3px gray;
}
#thirdone{
    color: white;
    background-color: green;
    transition: 0.2s ease-in;
}
#press{
    margin-left:8%;
}
#thirdone:hover{
    /* border: 2px solid black;
    background-color: black; */
    /* color: white; */
    scale: 1.05;
    transition: 0.2s ease-out;
    box-shadow: 0px 12px 2px 3px gray;
}
#testimonials-heading{
    font-family: 'tilt warp';
    line-height: 57px;
    letter-spacing: 1px;
}
#footing-id{
    font-family:'tilt warp';
    letter-spacing: 1px;
}
#footer-twitter{
    width: 27px;
}

/*
.psuedo{
    position: absolute;
    left:75px;
    top: 230px;
    z-index: -1;
    font-family: baylande;
    color: #dc3545;
} */


@media (max-width: 900px) {
    body{
        text-align: center;
    }
    
}
@media (max-width: 460px) {
    #heading-id{
        position: absolute;
        top: 47%;
        outline: 1px;
    }
    #iphone-id{
        transform: rotate(30deg);
        scale: 1.1;
        z-index: -1;
        padding-bottom: 5%;
    }
}
@media (max-width:768px){
    #Chihuahua{
        margin-bottom:10%;
    }
    #footing-id{
        margin-bottom: 4%;
    }
}
@media (min-width:768px)
{
    #techcrunch-id{
        display: flex;
        align-self: center;
    }
    #tnw-id{
        display: flex;
        align-self: center;
    }
    #biz-id{
        display: flex;
        align-self: center;
    }
    #mas-id{
        display: flex;
        align-self: center;
    }
    #testimonials-heading{
        font-family: 'tilt warp';
        line-height: 57px;
        word-spacing: 4px;
        letter-spacing: 1px;
    }
}
